<% content_for :page_title do %>
Ruby on Rails 指南
<% end %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <!-- <dd class="kindle">Rails Guides are also available for <%= link_to 'Kindle', @mobi %>.</dd> -->
    <dd class="work-in-progress">由此圖案標記的指南代表正在撰寫中，不會收入在指南目錄裡。可能包含不完整的資訊、錯誤。您可以幫忙審閱、提供建議與改錯。</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], work_in_progress: document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
